.title { /*标题字体*/
        text-align: center;
        background-clip: text;
        background-size: text;
        animation: text;
        background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation:  maskedAnimation 4s infinite linear;
        font-size: 40px;
    }
    @keyframes maskedAnimation {
        0% {
                background-position: 0 0;
        }
        100% {
                background-position: -100% 0;
        }
}
.mid-text { /*居中字体*/
        text-align: center;
        background-color: rgba(0, 0, 255, 0);
        font-size: 25px;
}
.text { /*文本*/
        background-color: rgba(0, 0, 0, 0);
        line-height: 40px;
        font-size: 20px;
}
.summary {
        text-align:center;
        margin-top:100px;
}
.colorful{
        background-clip: text;
        background-size: text;
        animation: text;
        background-image: -webkit-linear-gradient(left, rgb(255, 0, 0), rgb(0, 0, 255) 25%, rgb(255, 0, 0) 50%, rgb(0, 0, 255) 75%, rgb(255, 0, 0));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation:  maskedAnimation 4s infinite linear;
        }
        @keyframes maskedAnimation {
        0% {
                background-position: 0 0;
        }
        100% {
                background-position: -100% 0;
        }
}
.typing{
        display: inline-block;
        font-size: 3.5em;
        font-weight: 600;
        
        color: white;
        position: relative;
        text-align:center;
    }
    @keyframes animation-before{
        0% {
            clip-path: inset(0 0 0 0);
        }
        
        100% {
            clip-path: inset(.62em 0 .29em 0);
        }
    }
    
    @keyframes animation-after{
          0% {
            clip-path: inset(0 0 0 0);
        }
        
        100% {
            clip-path: inset(.29em 0 .62em 0);
        }
    }
.typing::before{
        content: attr(data-text);
        position: absolute;
        left: -2px;
        width: 100%;
        background: rgba(0, 0, 0, 0);
        text-shadow:2px 0 red;
        animation: animation-before 3s infinite linear alternate-reverse;
        text-align:center;
    }
.typing::after{
        content: attr(data-text);
        position: absolute;
        left: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0);
        text-shadow: -2px 0 blue;
        animation: animation-after 3s infinite linear alternate-reverse;
        text-align:center;
    }
a:link {text-decoration: none; color: lightgreen;} /*链接的颜色*/
a:visited {color: black;}                           /*访问过的颜色*/
a:hover {color: pink;}                              /*鼠标放置的颜色*/
a:active {color: lightyellow;}                      /*点击的颜色*/