body {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #ffffff;
        height: auto;
        width: auto;
        border: 3px solid rgb(255, 255, 255); 
}
.color-body {
        height: 1024px;
        width: auto;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 15px;
        
        background: -webkit-gradient(linear,left top,left bottom,from(hsla(0, 70%, 40%, 0.6)),to(hsla(0, 0%, 0%, 0.6)));
}
.footer-cleafix {
        display: flex;
        align-items: flex-end;
}  